body{
    font-family: 'montserrat', sans-serif;
    background-color: #5c5c5c;
}
#signupform{
    color: white;
    border-radius: 5px;
    border: 2px ridge rgb(100, 100, 100);
    text-align: center;
    background-color: rgb(75, 75, 75);
    height: 650px;
    width: 450px;
    padding: 20px;
    padding-bottom: 10px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 60px;
    margin-bottom: -100px;
}
#h11{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
#warn{
    color: transparent;
}
input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 0px solid transparent;
    transition: box-shadow 300ms ease-in-out;
    outline: 0px;
    padding-left: 10px;
}
input:hover{
    box-shadow: 0px 0px 8px 1px #5dabe7;
}
button{
    background-color: rgb(173, 172, 172);
    margin-top: 30px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    transition: box-shadow 300ms ease-in-out;
}
button:hover{
    box-shadow: 0px 0px 5px 2px #5dabe7;
}
#h41{
    margin-left: -220px;
    margin-bottom: 5px;
}
#h42{
    margin-left: -220px;
    margin-bottom: 5px;
}
#h43{
    margin-left: -200px;
    margin-bottom: 5px;
}
#h44{
    margin-left: -205px;
    margin-bottom: 5px;
}
#h45{
    margin-left: -160px;
    margin-bottom: 5px;
}