body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
form{
    text-align: left;
    padding-left: 40px;
    padding-right: -40px;
    color: white;
    border-radius: 5px;
    border: 2px ridge rgb(100, 100, 100);
    background-color: rgba(12, 14, 15, 0.385);
    height: 670px;
    width: 550px;
    display: inline-block;
    margin-top: 15mm;
    margin-bottom: -15mm;
}

#headers{
    display: inline-flex;
}

#signup{
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0px;
    border: 0px solid transparent;
    border-radius: 0px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    height: inherit;
    width: auto;
}

#login{
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 320px;
    margin-right: -320px;
    padding: 0px;
    border: 0px solid transparent;
    border-radius: 0px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    height: inherit;
    width: auto;
}

h4{
    margin-bottom: 4px;
    margin-left: 200px;
}

input{
    width: 300px;
    height: 30px;
    margin-left: 200px;
    border-radius: 5px;
    border: 0px solid transparent;
    outline: 0px;
    padding-left: 10px;
    transition: box-shadow 300ms ease-in-out;;
}

input:hover{
    box-shadow: 0px 0px 8px 1px #5dabe7;
}

button{
    background-color: rgba(153, 152, 152, 0.273);
    color: white;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 200px;
    width: 120px;
    height: 35px;
    border-radius: 9px;
    border-width: 0px;
    transition: box-shadow 300ms ease-in-out;
}

#submit:hover{
    box-shadow: 0px 0px 5px 2px #5dabe7;
    cursor: pointer;
}

.inputfields{
    margin-top: 50px;
}

#passworddiv{
    margin-top: 50px;
}

#warn{
    margin-top: 50px;
    color: transparent;
}
