body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image: url(/A-simple-sign-up-form/imgs/retro-pattern-vector-dark-wallpaper-preview.jpg);
}

#signupform{
    color: white;
    background-color: rgba(12, 14, 15, 0.385);
    height: 750px;
    width: 550px;
    display: inline-block;
    margin-top: 15mm;
    margin-bottom: -15mm;
}

#mainicon{
    width: 80px;
    margin-top: 10px;
    margin-bottom: -15px;
}

#hfirstname, #hlastname, #hemailid, #husername, #hpassword, #hconfirmpassword{
    margin-bottom: 4px;
    text-align: left;
    margin-left: 120px;
    font-size: small;

}

#star0, #star1, #star2, #star3, #star4, #star5{
    color: rgb(174, 29, 29);
}

input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 0px solid transparent;
    outline: 0px;
    padding-left: 10px;
    transition: box-shadow 300ms ease-in-out;
}

input:hover{
    box-shadow: 0px 0px 8px 1px #5dabe7;
}

button{
    background-color: rgba(153, 152, 152, 0.273);
    color: white;
    font-size: 18px;
    margin-top: 30px;
    width: 315px;
    height: 35px;
    border-radius: 9px;
    border: 0px solid transparent;
    outline: 0px;
    padding-left: 10px;
    transition: box-shadow 300ms ease-in-out;
}

#submit:hover{
    box-shadow: 0px 0px 5px 2px #5dabe7;
    cursor: pointer;
}
